API_ID = 16743442
API_HASH = 12bbd720f4097ba7713c5e40a11dfd2a
BOT_TOKEN = 6065321925:AAHOUFD7idBBq-Rnud0hRyitSH_f_S43vqk
MONGO_DB_URI = mongodb+srv://sonu55:sonu55@cluster0.vqztrvk.mongodb.net/?retryWrites=true&w=majority
INDEX_CHANNEL_ID = 
UPLOADS_CHANNEL_ID = 
STATUS_MSG_ID = https://t.me/Upload_AC/2
SCHEDULE_MSG_ID = https://t.me/Upload_AC/2
CHANNEL_TITLE = Anime_Campus
INDEX_CHANNEL_USERNAME = Index_AC
UPLOADS_CHANNEL_USERNAME = Upload_AC
